mixin showFlashMessages
  if flashData
    each msg, name in flashData
      if name == 'error'
        div(class='text-center alert alert-danger' role='alert')= msg

      if name.startsWith('alert')
        div(class='text-center alert alert-' + msg.type role='alert')
          if msg.icon
            i(class=msg.icon)
            | &nbsp;
          =msg.text


doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Sistema de Ficheiros Protegido
    
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/fontawesome/all.css")
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    block content

    script(type="text/javascript" src="/javascripts/jquery.min.js")         
    script(type="text/javascript" src="/javascripts/bootstrap.bundle.min.js")
