mixin showFlashMessages
  if flashMessages
    each message, i in flashMessages
      div(class='text-center alert alert-' + message.type role='alert')
        if message.icon
          i(class='fa ' + message.icon)/
          | &nbsp;
        =message.message


doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Sistema de Ficheiros Protegido
    
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/fontawesome/all.css")
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    block content

    script(type="text/javascript" src="/javascripts/jquery.min.js")         
    script(type="text/javascript" src="/javascripts/bootstrap.bundle.min.js")
