extends layout

block content
  div(class="bg")
    div(class="container")
      div(class="row")
        div(class="col-sm-9 col-md-7 col-lg-5 mx-auto")
          div(class="card card-signin my-5")
            div(class="card-body")
              h5(class="card-title text-center") Sistema de Ficheiros de Acesso Protegido
              a(class="btn btn-lg btn-primary btn-block text-uppercase" href="/auth/login") Entrar na área pessoal
              a(class="btn btn-lg btn-primary btn-block text-uppercase" href="/auth/register") Registar uma nova conta
