extends layout

block content

    div(class="bg") 
      div(class="container")
        div(class="row")
          div(class="col-sm-9 col-md-7 col-lg-5 mx-auto")
            div(class="card card-signin my-5")
              div(class="card-body")
                h5(class="card-title text-center") Enter the code you received:
                form(class="form-signin" action='/codeVerification' method='POST')
                  h6(class="card-title text-center")
             
                  div(class="form-label-group")
                    input(type="text" id="inputCode" name="code" class="form-control" placeholder="Code" required autofocus)
                    label(for="inputCode") Code
                
                  button(class="btn btn-lg btn-primary btn-block text-uppercase" type="submit") Verify
                